@charset "UTF-8";
.imgtmncrsl {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

@media (max-width: 991.98px) {
    /*Imagenes Carousel*/
    .carouseltmn {
        height: 300px;
    }
}