@charset "UTF-8";
.colorhead {
    /*background-color: #F8EB47;*/
    margin-top: -8.5px;
}

.titulo {
    color: #348C39;
    font-weight: bolder;
    font-size: 35pt;
    font-style: oblique;
}

.txtjmb {
    text-decoration: none;
    border: none;
}

.navbar {
    margin-top: 0px;
    background-color: #e3efef;
}


/*css breadcrumb*/

.breadtop {
    height: 40px;
}

.breadtop nav {
    background-color: rgba(128, 128, 128, 0.178);
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 1px;
    height: 100%;
    border-radius: 5px;
}

.breadtop li a {
    text-decoration: none;
    color: #69A37D;
}

.breadtop li a:hover {
    color: #D7D5D5;
}


/* fin css breadcrumb*/


/* Footer Container*/

.suscribe {
    background-color: #E7D10D;
    color: black;
    margin-left: -10px;
    margin-right: -10px;
}

.sbricon {
    margin-left: 5px;
    margin-right: 5px;
}

.foot {
    color: white;
    padding: 10px 10px 0 10px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: #69A37D;
}

.foot a {
    color: white;
    text-decoration: none;
}

.input-group {
    padding-left: 50px;
    padding-right: 50px;
}


/*Footer final de la página*/

footer {
    padding: 10px 10px 10px 10px;
    background-color: #348C39;
    color: #D7D5D5;
}

.footer-end-link {
    color: #D7D5D5;
    text-decoration: none;
}

.linefoot {
    border-bottom: #D7D5D5 2px solid;
    width: 100%;
}

.tmnfoot {
    width: 100%;
    height: 100%;
}

@media (max-width: 991.98px) {
    .colorhead {
        margin-top: -11px;
    }
    .titulo {
        font-size: 30pt;
        text-align: center;
    }
    /* Footer Container*/
    .input-group {
        padding-left: 0px;
        padding-right: 0px;
    }
}